YA_TOKEN= 
YA_FILE_PATH= 
YA_TABLE_URL=   # публичная ссылка на Таблицу статей для пользователей

TG_BOT_TOKEN= 
TG_NOTIFICATION_IDS=   # значения через запятую: '9980347151,9980347151,9980347151'
TG_P5_ID=

FILE_SAVE_PATH= 
